.form {
  margin:24px auto;
  width:500px;
  display: flex;
  flex-direction: column;
}
.form-message{
  display: flex;
  justify-content: center;
}
.message{
   margin-left: 70px;
   color: red;
}
.form h3 {
  align-self: center;
  font-weight: bold;
}
.form .inputs {
  display: flex;
  margin: 3px;
  padding:2px;
  flex-direction: column;
}
.inputs label {
font-weight: 700;
 margin:6px 0;
}
.inputs input {
  border-radius:3px;
  border:1px solid silver;
  outline: none;
  padding:10px;
}
.submit_button{
   display: flex;
   margin-top: 15px;
   justify-content: center;
}
.errors{
  color: red;
}
.button{
  width: 120px;
}